<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianjian.property.dao.TjLockUserMapper">
  <resultMap id="BaseResultMap" type="com.tianjian.property.bean.TjLockUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="door_id" jdbcType="INTEGER" property="doorId" />
    <result column="lock_user_id" jdbcType="INTEGER" property="lockUserId" />
    <result column="add_person" jdbcType="INTEGER" property="addPerson" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>